<!DOCTYPE html>
<html>

<head>
  <title>SARS Yazılım</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/index.css">
  <script src="js/audio.js"></script>
</head>

<body>

  <div class="op divine">
    <h1>SARS Yazılım</h1>
    <img class="disable imge" src="images/sars-icon.jpg">
    <img class="disable c" src="images/c.png">
    <img class="disable csharp" src="images/csharp.png">
    <img class="disable java" src="images/java.png">
    <img class="disable nodejs" src="images/nodejs.png">
    <img class="disable html" src="images/html.png">
    <img class="disable css" src="images/css.png">
    <img class="disable javascript" src="images/javascript.png">
    <h5>Masaüstü, Mobil, Web, Oyun ve Api geliştirme.<br>
      İletişim için <a href="mailto:sarsyazilim@gmail.com">sarsyazilim@gmail.com</a></h5>
    </h5>
    <h1 style="opacity: .25;">Link Hub</h1>
    <a target="_blank" href="https://play.google.com/store/apps/dev?id=6999163626876954239&pli=1">
      <h2>Google PlayStore</h2>
    </a>
    <a target="_blank" href="http://xbattleground.space">
      <h2>XBattleground</h2>
    </a>
    <a target="_blank" href="http://pakacraft.online">
      <h2>PakaCraft</h2>
    </a>
    <a target="_blank" href="https://www.linkedin.com/alisariaslan">
      <h2>LinkedIn</h2>
    </a>
    <a target="_blank" href="https://github.com/alisariaslan">
      <h2>Github</h2>
    </a>
    <a target="_blank" href="https://www.instagram.com/alisariasln">
      <h2>Instagram</h2>
    </a>
  </div>

</body>

</html>