<!DOCTYPE html>
<html>

<head>
  <title>SARS Yazılım</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.png">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/index.css">
  <script src="js/audio.js"></script>
</head>

<body>
  <div class="op divine">
    <img class="disable sars_icon " src="images/sars-icon.jpg">
    <img class="disable csharp" src="images/csharp.png">
    <img class="disable java" src="images/java.png">
    <img class="disable maui" src="images/maui.png">
    <img class="disable nodejs" src="images/nodejs.png">
    <img class="disable html" src="images/html.png">
    <img class="disable css" src="images/css.png">
    <img class="disable javascript" src="images/javascript.png">
    <div class="w3-animate-top">
      <h1>SARS Yazılım</h1>
      <h5 style="margin-left: 30px; margin-right: 30px;">Masaüstü, Mobil ve Web için proje geliştirme.<br>
        İletişim: <a style="text-decoration: underline;" class="link"
          href="mailto:sarsyazilim@gmail.com">sarsyazilim@gmail.com</a>
      </h5>
      </h5>
      <br>
      <h1 style="opacity: .25;">Mağazalar</h1>
      <a target="_blank" href="https://play.google.com/store/apps/dev?id=6999163626876954239&pli=1">
        <h2 class="link">Google PlayStore</h2>
      </a>
      <br>
      <h1 style="opacity: .25;">Diğer Projeler</h1>
      <a href="https://xbattleground.space">
        <h2 class="link">XBattleground</h2>
      </a>
      <a href="https://pakacraft.online">
        <h2 class="link">PakaCraft</h2>
      </a>
      <br>
      <h1 style="opacity: .25;">Platformlar</h1>
      <a target="_blank" href="https://www.linkedin.com/in/alisariaslan/">
        <h2 class="link">LinkedIn</h2>
      </a>
      <a target="_blank" href="https://github.com/alisariaslan">
        <h2 class="link">Github</h2>
      </a>
      <a target="_blank" href="https://www.instagram.com/alisariasln">
        <h2 class="link">Instagram</h2>
      </a>
      <br>
      <a style="text-decoration: underline;" href="/politics">
        <h2 class="link">Politikalar</h2>
      </a>
    </div>
    <br>
  </div>
</body>

</html>