<!DOCTYPE html>
<html>

<head>
  <title>SARS Yazılım</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.png">
  <link rel="stylesheet" href="styles/font.css">
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <div class="op divine">
    <img class="disable sars_icon" src="images/sars-icon.jpg">
    <div class="w3-animate-top">
      <h1>SARS Yazılım</h1>
      <br>
      <h1 style="opacity: .25;">Politikalar</h1>
      <a href="/politics/quickrm">
        <h2 class="link">QuickRM</h2>
      </a>
      <a href="/politics/quickrmpro">
        <h2 class="link">QuickRM Pro</h2>
      </a>
      <a href="/politics/fitmiyim">
        <h2 class="link">FitMiyim</h2>
      </a>
      <a href="/politics/benfit">
        <h2 class="link">BenFit</h2>
      </a>
      <a href="/politics/fitkal">
        <h2 class="link">FitKal</h2>
      </a>
      <a href="/politics/apaydinfitness">
        <h2 class="link"> Apaydın Fitness</h2>
      </a>
      <a href="/politics/parkor">
        <h2 class="link">Parkor</h2>
      </a>
      <br>
      <a style="text-decoration: underline;" href="/">
        <h2 class="link">Geri Dön</h2>
      </a>
    </div>
    <br>
  </div>
</body>

</html>