<!DOCTYPE html>
<html>

<head>
  <title>SARS Yazılım</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="images/favicon.png">
  <link rel="stylesheet" href="styles/index.css">
  <script src="js/audio.js"></script>
</head>

<body>
  <div class="op divine">
    <h1>Politikalar - SARS Yazılım</h1>
    <p>
      Güvenliğiniz bizim için önemli.
      Bu sebeple bizimle paylaşacağınız kişisel verileriz hassasiyetle korunmaktadır.
      SARS Yazılım veri sorumlusu olarak, bu gizlilik ve kişisel verilerin korunması politikası ile,
      hangi kişisel verilerinizin hangi amaçla işleneceği,
      işlenen verilerin kimlerle ve neden paylaşılabileceği,
      veri işleme yöntemimiz ve hukuki sebeplerimiz ile;
      işlenen verilerinize ilişkin haklarınızın neler olduğu hususunda sizleri aydınlatmayı amaçlıyoruz.
    </p>
    <h1 style="opacity: .50;">Google Playstore</h1>

    <h2>Apaydın Fitness</h2>
    <p>
      Ölçüleriniz ve rekorlarınız APAYDIN FITNESS
      uygulaması kapsamında uygulama içerisinde paylaşım,
      analiz, defter, sunum ve gösteriş amaçlı kullanılma maksadıyla
      otomatik veya otomatik olmayan yöntemlerle
      kaydedilerek, depolanarak ve güncellenerek,
      karşınıza çıkar. Verileriniz son teknoloji yöntemlerle
      korunmaktadır. Uygulama harici verileriniz kullanımı
      mümkün değildir.
    </p>
    <h2>BenFit Beden Ölçüm Aracı</h2>
    <p>
      BenFit uygulamamız uzaktan herhangi bir veri toplamaz, biriktirmez.
      Verilerin tümü sizin cihazınızda çalınması imkansız halde korunmaktadır.
      Siz veri girişi yapmadıkça herhangi başka bir veri cihazınızda bulunmayacaktır.
    </p>
    <h2>FitKal</h2>
    <p>
      FitKal uygulamamız uzaktan herhangi bir veri toplamaz, biriktirmez.
      Verilerin tümü sizin cihazınızda çalınması imkansız halde korunmaktadır.
      Siz veri girişi yapmadıkça herhangi başka bir veri cihazınızda bulunmayacaktır.
    </p>
    <h2>FitMiyim</h2>
    <p>
      FitMiyim uygulamamız uzaktan herhangi bir veri toplamaz, biriktirmez.
      Verilerin tümü sizin cihazınızda çalınması imkansız halde korunmaktadır.
      Siz veri girişi yapmadıkça herhangi başka bir veri cihazınızda bulunmayacaktır.
    </p>
    <h2>Parkor - İki Boyutlu Macera</h2>
    <p>
      Parkor adlı oyunumuzda ise Google ADMOB ve Google Play Servislerinin kendi topladığı
      veriler hariç herhangi bir veriniz toplanmaz.
    </p>
    <h2>QuickRM ve QuickRM PRO</h2>
    <p>
      QuickRM uygulamamız uzaktan herhangi bir veri toplamaz, biriktirmez.
      Verilerin tümü sizin cihazınızda çalınması imkansız halde korunmaktadır.
      Siz veri girişi yapmadıkça herhangi başka bir veri cihazınızda bulunmayacaktır.
    </p>

  </div>

</body>

</html>