<!DOCTYPE html>
<html>

<head>
  <title>SARS Yazılım</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="icon" href="../images/favicon.png">
  <link rel="stylesheet" href="../styles/font.css">
  <link rel="stylesheet" href="../styles/policy.css">
</head>

<body>
  <div class="op divine">
    <img class="disable sars_icon" src="../images/sars-icon.jpg">
    <div class="w3-animate-left">
      <h1>SARS Yazılım</h1> <a style="text-decoration: underline;" href="/politics">
        <h2>Geri Dön</h2>
      </a>
      <br>
      <h1 style="opacity: .25;">BenFit - Gizlilik Sözleşmesi</h1>
      <br>
      <p>
      
      </p>
    </div>
  </div>
</body>

</html>