@font-face {
    font-family: "PoppinsRegular";
    src: url("../fonts/Poppins-Regular.ttf");
  }
  
  div,h1,h2,h3 {
    font-family: "PoppinsRegular";
    src: url("../fonts/Poppins-Regular.ttf");
  }