html,
body {
  height: 100%;
  background-image: url('../images/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.op {
  opacity: .5;
  transition: ease-in .5s;
}

.op:hover {
  opacity: .75;
  transition: ease-in .5s;
}

.disable {
  pointer-events: none;
}

.divine {
  background-color: black;
  min-height: 85%;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  padding: 30px;
}

a,p,h1,h2,h3,h4,h5 {
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.link {
  color: #ddd;
  transition: ease-in-out .25s;
}

.link:hover {
  color: #fff;
  transition: ease-in-out .25s;
}

.sars_icon {
  position: absolute;
  top: 5vw;
  right: 5vw;
  width: 10vw;
  height: 10vw;
}

.csharp {
  position: absolute;
  top: 5.5vw;
  left: 5.25vw;
  width: 5vw;
  height: 5vw;
}

.java {
  position: absolute;
  top: 11vw;
  left: 5.25vw;
  width: 5vw;
  height: 5vw;
}

.maui {
  position: absolute;
  top: 17vw;
  left: 5.25vw;
  width: 5vw;
  height: 5vw;
}

.nodejs {
  position: absolute;
  top: 23vw;
  left: 5.25vw;
  width: 5vw;
  height: 5vw;
}

.html {
  position: absolute;
  top: 29vw;
  left: 5.75vw;
  width: 4vw;
  height: 4vw;
}

.css {
  position: absolute;
  top: 34vw;
  left: 5.75vw;
  width: 4vw;
  height: 4vw;
}

.javascript {
  position: absolute;
  top: 39vw;
  left: 5.75vw;
  width: 4vw;
  height: 4vw;
}