html,
body {
  height: 100%;
  background-image: url('../images/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.op {
  opacity: .5;
  transition: ease-in .5s;
}

.op:hover {
  opacity: .75;
  transition: ease-in .5s;
}

.disable {
  pointer-events: none;
}

.divine {
  background-color: black;
  min-height: 85%;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  padding: 30px;
}

.sars_icon {
  position: absolute;
  top: 5vw;
  right: 5vw;
  width: 10vw;
  height: 10vw;
}